.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.81);
    z-index: 999;
    display: none;
    animation: fade .3s linear;


}

.modal-wrapper2 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.81);
    z-index: 999;
    display: none;
    animation: fade .3s linear;


}

.modal-wrapper3 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.81);
    z-index: 999;
    display: none;
    animation: fade .3s linear;


}

.modal-wrapper4 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.81);
    z-index: 999;
    display: none;
    animation: fade .3s linear;


}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;

    background: rgba(84, 84, 84, 0.69);
    box-shadow: -2px 4px 18px rgba(0, 0, 0, 0.15);
    border-radius: 26px;

    display: flex;
    justify-content: flex-end;
    backdrop-filter: blur(2px);

    @media (max-width: $breakpoint480) {
        padding: 0px 10px;
    }



    &__content {
        padding: 70px 20px;
        display: flex;
        flex-direction: column;

        margin: 0 auto;

        max-width: 700px;



        &-titles {
            display: flex;
            align-items: center;
            gap: 15px;
            position: relative;
            justify-content: flex-end;

            @media (max-width: $breakpoint768) {
                flex-wrap: wrap;
            }


            &-title {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 105.2%;
                letter-spacing: -0.02em;
                color: #B1EF42;
                
                text-align: right;
            }

            &-num {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 100px;
                line-height: 105.2%;
                letter-spacing: -0.02em;
                color: #D8D9DD;

                @media (max-width: $breakpoint992) {
                    font-size: 40px;
                }

            }

            &-name {
                position: absolute;
                bottom: -10px;
                right: 77px;

                background: linear-gradient(156.37deg,
                        #B1EF42 0%, #D4F134 99.99%, #B1EF42 100%);
                border-radius: 15px;
                padding: 5px 50px;

                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 105.2%;
                text-align: center;
                letter-spacing: -0.02em;
                color: #000000;

                @media (max-width: $breakpoint992) {
                    bottom: -30px;
                    right: 30px;
                }

                @media (max-width: $breakpoint480) {
                    right: 0;
                    bottom: -50px;
                    font-size: 22px;
                }


            }

        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 55px;

            @media (max-width: $breakpoint480) {
                margin-top: 70px;
            }

            &-text {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                text-align: right;
                letter-spacing: -0.02em;
                color: #FFFFFF;
                margin-bottom: 20px;
                opacity: 0.7;

                max-width: 728px;
                width: 100%;
            }
        }

        &-footer {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 8px;

            &-link {
                width: 80px;
                height: 34px;
                background: #E9E9E9;
                border-radius: 15px;

                display: flex;
                align-items: center;
                justify-content: center;

                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                text-align: center;
                letter-spacing: -0.02em;

                color: #434343;
            }

            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                &-num {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 95.2%;
                    letter-spacing: -0.02em;
                    color: #B1EF42;

                    display: flex;
                    align-items: center;
                }

                &-text {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: -0.02em;
                    color: #FFFFFF;
                }

            }

        }


    }


}

.modal__btn {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 15px;
    height: 15px;
    background-image: url("../img/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.modal__btn2 {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 15px;
    height: 15px;
    background-image: url("../img/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}



.modal__btn3 {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 15px;
    height: 15px;
    background-image: url("../img/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.modal__btn4 {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 15px;
    height: 15px;
    background-image: url("../img/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}